/* styles.css */
@font-face {
  font-family: "VT323";
  src: url(../fonts/VT323-Regular.ttf);
}
@font-face {
  font-family: "PixeloidMono";
  src: url(../fonts/PixeloidMono-d94EV.ttf);
}
@font-face {
  font-family: "PixeloidSans";
  src: url(../fonts/PixeloidSans-mLxMm.ttf);
}

html, body {
  /* font-family: "VT323", monospace; */
  /* font-family: "PixeloidMono", monospace; */
  font-family: "PixeloidSans", "PixeloidSansBold", sans-serif;
  height: 100%;
  margin: 0;
}

body {
  background-color: #181a1b;
}

.game-container {
  background-color: #000;
  height: 450px;
  width: 650px;
}

/* ----------------Profile page*/
.profile-page-pic {
  height: 10rem;
  width: 10rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile-page-heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.profile-page-location p {
  display: inline-block;
}

.profile-page-stats {
  display: flex;
}
.profile-page-stats .col-4 {
  width: 10rem;
  text-align: center;
}

.profile-page-header {
  min-height: 60vh;
  background: #009FFF;
background: linear-gradient(to right, #747474, #333333);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
	margin-top: 80px;
}

.profile-page-details {
  text-align: center;
}

.profile-page-title {
	margin-top: -100px; /* Adjust this value as needed to move the heading up */
}