# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
env/
venv/
.venv/

# Django
*.sqlite3
*.log
.env

# Docker
*.pid
*.seed

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore static files collected by collectstatic
volumes/frontend/

*.pem

# Ignore Benjamin sh*ts
*Mbappe*
*Palmer*
*bellingham*
