{% load i18n %}
<div id="page404" class="page p-4">
  <h1><span class="text-danger">404</span> - {% trans "Page Not Found" %}</h1>
  <p>{% trans "The page you're looking for does not exist." %}</p>
</div>

<div class="mb-3" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">English</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Spanish</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">French</label>
</div>