<h1>Edit <span class="text-danger">{% if user.is_authenticated %}{{ user.username }}{% endif %}</span>'s profile</h1>
<div class="row" >
    <div class="col-xs-12 col-sm-9 mx-auto">
      <div class="panel panel-default" style="border-bottom : 0">
        <form method="post" enctype="multipart/form-data" style="margin-left: 30px" action="{% url 'edit_profile_general' %}" >
          {% csrf_token %}
          <div class="panel-body text-center" >
            {% if user.avatar %}
            <img src= {{user.avatar.url}} alt="user.username" style="height: 15rem; width: 15rem; object-fit: center; margin: 0px auto; margin-top: 30px; border-radius: 50%; border: 2px solid #fff;">
            {% else %}
            <img src="https://api.dicebear.com/9.x/notionists/svg?seed=Jack" alt="default icon"
            style="height: 10rem; width: 10rem; object-fit: center;
            border-radius: 50%; border: 2px solid #fff;">
            {% endif %}
            <div class="d-flex align-items-center justify-content-center" style="margin-top : 15px">
              <div class="mb-3">
                <label for="{{ form.avatar.id_for_label }}" class="form-group">{{ form.avatar.label }}</label>
                {{ form.avatar }}
                <div class="text-danger fs-6">
                  {{ form.avatar.errors }}
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="panel panel-default">
        <div style="border-bottom : 0">
        <h4 class="panel-title" style="margin-top: 30px">User info</h4>
      </div>
      <div class="mb-3">
        <label for="{{ form.username.id_for_label }}" class="form-group">{{ form.username.label }}</label>
        {{ form.username }}
        <div class="text-danger fs-6">{{ form.username.errors }}</div>
      </div>
      <div class="mb-3">
        <label for="{{ form.country.id_for_label }}" class="form-group">{{ form.country.label }}</label>
        {{ form.country }}
        <div class="text-danger fs-6">{{ form.country.errors }}</div>
      </div>
      <div class="mb-3">
        <label for="{{ form.city.id_for_label }}" class="form-group">{{ form.city.label }}</label>
        {{ form.city }}
        <div class="text-danger fs-6">{{ form.city.errors }}</div>
      </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-danger" role="button" style="margin-right: 10px;">Cancel</a>
    <button type="submit" class="btn btn-light" value="general">Submit</button>
    </form>
      <div>
        <h4 class="panel-title" style="margin-top: 30px">Security</h4>
        <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile_security' %}" onsubmit="return validatePasswords()">
          {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.new_password.id_for_label }}" class="form-group">{{ form.new_password.label }}</label>
          {{ form.new_password }}
          <div class="text-danger fs-6">{{ form.new_password.errors }}</div>
        </div>
        <div class="mb-3">
          <label for="{{ form.confirm_password.id_for_label }}" class="form-group">{{ form.confirm_password.label }}</label>
          {{ form.confirm_password }}
          <div class="text-danger fs-6">{{ form.confirm_password.errors }}</div>
        </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2" style="margin-top : 20px; margin-down : 15px; margin-bottom : 30px">
              <a href="{% url 'home' %}" class="btn btn-danger" role="button" style="margin-right: 10px;">Cancel</a>
              <button type="submit" class="btn btn-light" value="security">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

<script>
  function validatePasswords() {
      var newPassword = document.getElementById('{{ form.new_password.id_for_label }}').value;
      var confirmPassword = document.getElementById('{{ form.confirm_password.id_for_label }}').value;
      console.log('newPassword: ', newPassword);
      console.log('confirmPassword', confirmPassword);
      if (newPassword !== confirmPassword) {
          console.log("Passwords do not match!");
          alert("Passwords do not match!");
          return false; // Prevent form submission
      }
      return true; // Allow form submission
  }
  </script>