<div class="container" style="overflow: auto;">
	<h1 style="margin-bottom: 30px;">My friends</h1>
	<div class="row">
			<div class="col-md-10">
					<div class="people-nearby">
							{% if user.is_authenticated %}
									{% for friend in user.friends.all %}
											<div class="card mb-3" style="background-color: grey;">
													<div class="row g-0">
															<div class="col-md-2 col-sm-2 d-flex align-items-center justify-content-center">
																	{% if friend.avatar %}
																			<img src="{{ friend.avatar.url }}" alt="{{ friend.username }}"
																					 class="profile-photo-lg rounded-circle img-fluid" style="height: 7rem; width: 7rem; object-fit: cover;">
																	{% else %}
																			<img src="https://api.dicebear.com/9.x/notionists/svg?seed=Jack" alt="default icon"
																					 class="profile-photo-lg rounded-circle img-fluid" style="height: 7rem; width: 7rem; object-fit: cover;">
																	{% endif %}
															</div>
															<div class="col-md-7 col-sm-7">
																	<div class="card-body">
																			<h4 class="card-title">
																					<a href="#" class="text-decoration-none" style="color: white">{{ friend.username }}</a>
																			</h4>
																			<p class="card-text">
																					<svg width="18" height="18" viewBox="0 0 24 24">
																							<path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
																					</svg>
																					{{ friend.city }}, {{ friend.country }}<br>
																					<span class="text-muted">Played: 10, Won: 5, Lost: 5</span>
																			</p>
																	</div>
															</div>
															<div class="col-md-3 col-sm-3 d-flex align-items-center justify-content-center">
																	<div class="btn-group" role="group">
																			<button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#chatModal">Let's chat</button>
																			<button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#gameInvitationModal">Let's play</button>
																	</div>
															</div>
													</div>
											</div>
									{% endfor %}
							{% else %}
									<p>Please log in to see your friends.</p>
							{% endif %}
					</div>
			</div>
	</div>
</div>


<section>
  <div class="container py-5">
    <!-- Modal -->
    <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: linear-gradient(to left, #747474, #333333);">
          <div class="modal-header d-flex justify-content-center align-items-center">
						<h5 style="color: white; flex-grow: 1; text-align: center;" class="modal-title" id="chatModalLabel">Chat messages</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
          <div class="modal-body" style="height: 400px; overflow: auto;">
            <div class="d-flex justify-content-between">
              <p style="color: white" >Fanny Neguesha</p>
              <p class="small mb-1 text-muted" >23 Jan 2:00 pm</p>
            </div>
            <div class="d-flex flex-row justify-content-start">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
              <div>
                <p class="small p-2 ms-3 mb-3 rounded-3 bg-body-tertiary" style="color: black">What's up crackos ?</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="input-group mb-0">
              <input type="text" class="form-control" placeholder="Type message" aria-label="Recipient's username" aria-describedby="button-addon2" />
              <button class="btn btn-dark" type="button" id="button-addon2" style="padding-top: .55rem;">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
	<div class="modal fade" id="gameInvitationModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-dark text-light">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalLabel">Notification</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="messageContent" class="text-end fs-5"> Invitation send to "login"</p> 
				</div>
			</div>
		</div>
	</div>
<section>