{% load i18n %}
{% load static %}
<div class="container pt-4" style="overflow: auto;">

  <h1 class="mb-4">{% trans "My friends" %}</h1>

  <div class="row">

    <div class="col-md-10">

      <div class="people-nearby">

        {% if friends %}

          {% for friend in friends %}
            <div class="card mb-3 flex-row justify-content-between" style="background-color: lightslategray;">

                  <div class="d-flex flex-row align-items-center justify-content-center">

                    <div class="d-flex align-items-center justify-content-center ps-3">                      
                        <img src="{% if friend.avatar %}{{ friend.avatar }}{% else %}{% static 'images/default-avatar.svg' %}" alt="{{ friend.username }}{% endif %}" href="/profile/match_history/{{ friend.username }}" onclick="navigate(event, '/profile/match_history/{{ friend.username }}')"
                            style="height: 7rem; width: 7rem; object-fit: center; height: 7rem; width: 7rem; object-fit: center; border-radius: 50%; border: 2px solid #fff;">                      
                    </div>
                    
                    <div class="card-body">
                      <h4 class="card-title">
                        <a class="text-decoration-none" style="color: white" href="/profile/match_history/{{ friend.username }}" onclick="navigate(event, '/profile/match_history/{{ friend.username }}')">{{ friend.username }}</a>
                      </h4>
                      <p class="card-text">
                        <svg width="18" height="18" viewBox="0 0 24 24">
                            <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
                        </svg>
                        {{ friend.city }}, {{ friend.country }}<br>
                        {% comment %} <span class="text-muted">{% trans "Played" %}: 10, {% trans "Won" %}: 5, {% trans "Lost" %}: 5</span> {% endcomment %}
                      </p>
                    </div>

                  </div>

                <div class="d-flex align-items-center justify-content-center">

                    <form method="post" id="invite-play-{{ friend.user_id }}" action="{% url 'invite_to_play' friend.user_id %}" class="d-flex flex-column justify-content-center">
                      {% csrf_token %}

                      <div class="btn-group mx-auto" role="group" aria-label="{% trans 'Game selection' %}">

                        <input type="radio" class="btn-check" name="chosenGame" id="pong-{{ friend.user_id }}" autocomplete="off" checked>
                        <label class="btn btn-outline-success d-flex flex-column justify-content-between align-items-center p-2" for="pong-{{ friend.user_id }}" style="width: 100px;">
                          {% comment %} <p class="mb-2">Space Pong</p> {% endcomment %}
                          <img src="{% static 'images/cover-pong-8bits.jpg' %}" alt="Space Pong" class="img-fluid">
                        </label>
                      
                        <input type="radio" class="btn-check" name="chosenGame" id="cows-{{ friend.user_id }}" autocomplete="off">
                        <label class="btn btn-outline-success d-flex flex-column justify-content-between align-items-center p-2" for="cows-{{ friend.user_id }}" style="width: 100px;">
                          {% comment %} <p class="mb-2">Space Cows</p> {% endcomment %}
                          <img src="{% static 'images/cover-cows.jpg' %}" alt="Space Cows" class="img-fluid">
                        </label>
                      
                      </div>
                      <button type="submit" class="btn btn-success">{% trans "Play" %}</button>

                    </form>

                    <form method="post" id="block-{{ friend.user_id }}" action="{% url 'block' friend.user_id %}" class="px-3">
                      {% csrf_token %}
                      <button type="submit" id="block_button-{{ friend.user_id }}" class="btn btn-danger" >{% trans "Block" %}</button>
                    </form> 
                    
                </div>

            </div>
          {% endfor %}

        {% else %}

          <div class="d-flex justify-content-center align-items-center mt-5">
            <p class="fs-2 m-0 pe-4">
                {% trans "Let's make some " %}
                <span class="text-danger">{% trans "friends" %}</span>!
            </p>
            <a href="{% url 'profile' %}" style="border: 2px solid #d3d3d3; border-radius: 8px;" class="p-2"
            onclick="navigate(event, '/profile')">
                <img src="/media/utils_icons/add_friends.png" role="button" alt="add friends" class="img-fluid" style="width: 50px; height: 50px;">
            </a>
          </div>

        {% endif %}

      </div>

    </div>

  </div>

</div>
