{% load i18n %}
<div class="container" style="overflow: auto;">
    <h1 style="margin-bottom: 30px;">{% trans "My friends" %}</h1>
    <div class="row">
        <div class="col-md-10">
            <div class="people-nearby">
                {% if user.is_authenticated %}
                {% comment %} If user has no friends {% endcomment %}
                  {% if friends %}
                      {% for friend in friends %}
                          <div class="card mb-3" style="background-color: grey;">
                              <div class="row g-0">
                                  <div class="col-md-2 col-sm-2 d-flex align-items-center justify-content-center">
                                      {% if friend.avatar %}
                                          <img src="{{ friend.avatar }}" alt="{{ friend.username }}"
                                              style="height: 7rem; width: 7rem; object-fit: center; height: 7rem; width: 7rem; object-fit: center; border-radius: 50%; border: 2px solid #fff;">
                                      {% else %}
                                          <img src="https://api.dicebear.com/9.x/notionists/svg?seed=Jack" alt="{% trans "default icon" %}"
                                              style="height: 7rem; width: 7rem; object-fit: center; height: 7rem; width: 7rem; object-fit: center; border-radius: 50%; border: 2px solid #fff;">
                                      {% endif %}
                                  </div>
                                  <div class="col-md-7 col-sm-7">
                                      <div class="card-body">
                                          <h4 class="card-title">
                                              <a href="#" class="text-decoration-none" style="color: white">{{ friend.username }}</a>
                                          </h4>
                                          <p class="card-text">
                                              <svg width="18" height="18" viewBox="0 0 24 24">
                                                  <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
                                              </svg>
                                              {{ friend.city }}, {{ friend.country }}<br>
                                              <span class="text-muted">{% trans "Played" %}: 10, {% trans "Won" %}: 5, {% trans "Lost" %}: 5</span>
                                          </p>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-3 d-flex align-items-center justify-content-center">
                                      <div class="btn-group" role="group">
                                          <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#chatModal">{% trans "Let's chat" %}</button>
                                          <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#gameInvitationModal">{% trans "Let's play" %}</button>
                                      </div>
                                  </div>
                                </div>
                              </div>
                        {% endfor %}
                {% else%}
                <div class="d-flex flex-column align-items-center mt-5">
                  <p class="fs-5 text-white">
                      {% trans "Let's make some " %}
                      <span class="text-danger">{% trans "friends" %}</span>
                      {% trans "!" %}
                  </p>
                  <a href="{% url 'profile' %}">
                      <img src="/media/utils_icons/add_friends.png" role="button" alt="add friends" class="img-fluid" style="width: 100px; height: 100px;">
                  </a>
                </div>
                {% endif %}
                {% else %}
                    <p>{% trans "Please log in to see your friends." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<section>
  <div class="container py-5">
    <!-- Modal -->
    <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: linear-gradient(to left, #747474, #333333);">
          <div class="modal-header d-flex justify-content-center align-items-center">
                        <h5 style="color: white; flex-grow: 1; text-align: center;" class="modal-title" id="chatModalLabel">{% trans "Chat messages" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
          <div class="modal-body" style="height: 400px; overflow: auto;">
            <div class="d-flex justify-content-between">
              <p style="color: white" >Fanny Neguesha</p>
              <p class="small mb-1 text-muted" >23 Jan 2:00 pm</p>
            </div>
            <div class="d-flex flex-row justify-content-start">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp" alt="{% trans "avatar 1" %}" style="width: 45px; height: 100%;">
              <div>
                <p class="small p-2 ms-3 mb-3 rounded-3 bg-body-tertiary" style="color: black">{% trans "What's up crackos ?" %}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="input-group mb-0">
              <input type="text" class="form-control" placeholder="{% trans "Type message" %}" aria-label="{% trans "Recipient's username" %}" aria-describedby="button-addon2" />
              <button class="btn btn-dark" type="button" id="button-addon2" style="padding-top: .55rem;">{% trans "Send" %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="modal fade" id="gameInvitationModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">{% trans "Notification" %}</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="messageContent" class="text-end fs-5">{% trans 'Invitation sent to "login"' %}</p> 
                </div>
            </div>
        </div>
    </div>
</section>