{% load i18n %}
<div id="tournament" class="page p-4">
  <div
    class="d-flex flex-column justify-content-center align-items-center ms-auto me-auto"
    style="width: 256px;">
    
    <h1 class="mb-3 align-self-start">{% trans "Remote Game" %}</h1>
    
    <form method="dialog">
      {% comment %} {% csrf_token %} {% endcomment %}

      {% comment %} {% if form.non_field_errors %}
        <div class="alert alert-danger fs-6 p-3">
          <div class="errorlist nonfield m-0 p-0">
            {{ form.non_field_errors.0 }}
          </div>
        </div>
      {% endif %} {% endcomment %}

      <div class="mb-3">
        <label for="player1" class="form-label">Username</label>
        <input type="text" class="form-control" id="player1" name="player1" value="{% if user.is_authenticated %}{{ user.username }}{% endif %}" required>
        <div class="text-danger fs-6"></div>
      </div>

      <div class="mb-3 btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="chosenGame" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Pong</label>
      
        <input type="radio" class="btn-check" name="chosenGame" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Other game</label>
      </div>

      <button type="button" class="btn btn-secondary" onclick="findRemoteGame()">{% trans "Find remote game" %}</button>
    </form>

  </div>
</div>