{% load static %}
{% load i18n %}

<!-- Chat -->
<div id="chatButton" class="position-fixed bottom-0 end-0 p-3">
	<img src="{% static 'images/chat_icon.png' %}" alt="Chat" data-bs-toggle="modal" data-bs-target="#chatModal" style="width: 100px; height: 100px; cursor: pointer;">
	<span id="unreadChatscount" class="badge rounded-pill bg-danger position-absolute top-90 start-70 translate-middle" style="font-size: 1rem; padding: 0.5rem 0.7rem;">0</span>
</div>

<section>
	<div class="container py-5">
	  <!-- Modal -->
	  <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		  <div class="modal-content" style="background: linear-gradient(to left, #747474, #333333);">
			<div class="modal-header d-flex justify-content-center align-items-center">
			  <h5 style="color: white; flex-grow: 1; text-align: center;" class="modal-title" id="chatModalLabel">{% trans "Chat messages" %}</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
  
			<!-- Main content: Contacts and Chat -->
			<div class="modal-body">
			  <div class="row">
				<!-- Contacts List (Left Column) -->
				<div class="col-4" style="border-right: 1px solid white;">
				  <div class="mb-3">
					<h6 style="color: white;">{% trans "Contacts" %}</h6>
					<div class="list-group" id="contactList" style="height: 300px; overflow-y: auto;">
					  <!-- Example contacts -->
					  <a href="#" class="list-group-item list-group-item-action bg-dark text-white" aria-current="true">
						{% trans "Select a contact" %}
					  </a>
					  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Contact 2</a>
					  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Contact 3</a>
					</div>
				  </div>
				</div>
  
				<!-- Chat Content (Right Column) -->
				<div class="col-8">
				  <div style="height: 300px; overflow-y: auto;">
					<!-- Destination -->
					<div class="d-flex justify-content-between">
					  <p id="contactDisplayName" style="color: white">{% trans "Select a contact" %}</p>
					  <p id="date" class="small mb-1 text-muted">23 Jan 2:00 pm</p>
					</div>
					<div class="d-flex flex-row justify-content-start">
					  <img id="contactAvatar" src="{% static 'images/cow400.png' %}" style="height: 3rem; width: 3rem; object-fit: cover; border-radius: 50%; border: 2px solid #fff;" alt="{% trans "avatar 1" %}">
					  <div id="recvChatMessages">
						<p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary" style="color: black">{% trans "What's up crackos ?" %}</p>
					  </div>
					</div>
					<!-- Sender -->
					<div class="d-flex flex-row justify-content-end">
					  <div id="sendChatMessages">
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
  
			<!-- Footer with message input -->
			<div class="modal-footer">
			  <div id="chat-log" class="input-group mb-0">
				<input id="messageInput" type="text" class="form-control" placeholder="{% trans "Type message" %}" aria-label="{% trans "Recipient's username" %}" aria-describedby="button-addon2" />
				<button id="sendButton" class="btn btn-dark" type="button" style="padding-top: .55rem;">{% trans "Send" %}</button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</section>