{% load static %}
{% load i18n %}

<!-- Chat -->
<div id="chatButton" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050">
	<img src="{% static 'images/chat_icon.png' %}" alt="Chat" data-bs-toggle="modal" data-bs-target="#chatModal" style="width: 100px; height: 100px; cursor: pointer;">
	<span id="unreadChatscount" class="badge rounded-pill bg-danger position-absolute translate-middle" style="top: 30px; left: 90px; font-size: 1rem; padding: 0.5rem 0.7rem;">0</span>
</div>

<section>
		<!-- Modal -->
		<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" style="height: 90vh;" role="document">
				<div class="modal-content" style="background: linear-gradient(to left, #747474, #333333);">
					<div class="modal-header d-flex justify-content-center align-items-center">
						<h5 style="color: white; flex-grow: 1; text-align: center;" class="modal-title" id="chatModalLabel">{% trans "Chat messages" %}</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>

					<!-- Main content: Contacts and Chat -->
					<div class="modal-body">
						<div class="row">
							<!-- Contacts List (Left Column) -->
							<div class="col-4" >
								<input type="hidden" id="currentChatId" value="">
								<div class="mb-3">
									<h6 style="color: white;">{% trans "Contacts" %}</h6>
									<div class="list-group" id="contactList" style="height: 300px; overflow-y: auto;">
										<a href="#" class="list-group-item custom-contact bg-transparent text-white d-flex align-items-center" aria-current="true">
											<img src="{% static 'images/default_avatar.png' %}" class="rounded-circle me-2" style="height: 2rem; width: 2rem;" alt="{% trans "avatar" %}">
											{% trans "Select a contact" %}
										</a>
										<a href="#" class="list-group-item custom-contact bg-transparent text-white d-flex align-items-center">
											<img src="{% static 'images/default_avatar.png' %}" class="rounded-circle me-2" style="height: 2rem; width: 2rem;" alt="{% trans "avatar" %}">
											{% trans "Contact 1" %}
										</a>
										<a href="#" class="list-group-item custom-contact bg-transparent text-white d-flex align-items-center">
											<img src="{% static 'images/default_avatar.png' %}" class="rounded-circle me-2" style="height: 2rem; width: 2rem;" alt="{% trans "avatar" %}">
											{% trans "Contact 2" %}
										</a>
									</div>
								</div>
							</div>

							<!-- Chat Content (Right Column) -->
							<div class="col-8">
								<!-- Sticky header with contact name and avatar -->
								<div class="sticky-top bg-dark d-flex justify-content-between align-items-center p-2 rounded-3 " style="z-index: 1; top: 0; background-color: #333;">
									<div class="d-flex align-items-center">
										<a id="contactAvatarLink" href="#">
											<img id="contactAvatar" src="{% static 'images/game/cow400.png' %}" style="height: 3rem; width: 3rem; object-fit: cover; border-radius: 50%; border: 2px solid #fff; margin-right: 1rem;" alt="{% trans "avatar 1" %}">
										</a>
										<a id="contactDisplayNameLink" href="#">
											<p id="contactDisplayName" style="color: white; margin: 0;">{% trans "Select a contact" %}</p>
										</a>
									</div>
									<p id="date" class="small mb-0" style="color: white;">23 Jan 2:00 pm</p>
								</div>

								<!-- Scrollable chat content -->
								<div style="height: 300px; overflow-y: auto;">
									<!-- Conversation -->
									<div class="small p-2 me-3 mb-1 rounded-3" id="conversation"></div>
								</div>
							</div>
						</div>
					</div>

					<!-- Footer with message input -->
					<div class="modal-footer">
						<div id="chat-log" class="input-group mb-0">
							<input id="messageInput" type="text" class="form-control" placeholder="{% trans "Type message" %}" aria-label="{% trans "Recipient's username" %}" aria-describedby="button-addon2" />
							<button id="sendButton" class="btn btn-danger" type="button" style="padding-top: .55rem;">{% trans "Send" %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>