{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}">

  <title>{% block title %}Pongscendence{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% comment %} <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"> {% endcomment %}
  <link rel="icon" href="{% static 'images/animated_favicon.gif' %}" type="image/gif" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="d-flex flex-column">

  <header class="navbar navbar-expand-md navbar-dark bg-dark" id="mainHeader">
    {% include 'includes/header.html' %}
  </header>
  {% include 'includes/popupMessages.html' %}
  
  <main class="container text-light">
    {% block content %}
    {% endblock %}
  </main>

<!-- Chat -->
<div id="chatButton" class="position-fixed bottom-0 end-0 p-3">
  <img src="{% static 'images/chat_icon.png' %}" alt="Chat" data-bs-toggle="modal" data-bs-target="#chatModal" style="width: 100px; height: 100px; cursor: pointer;">
</div>

<section>
  <div class="container py-5">
    <!-- Modal -->
    <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: linear-gradient(to left, #747474, #333333);">
          <div class="modal-header d-flex justify-content-center align-items-center">
            <h5 style="color: white; flex-grow: 1; text-align: center;" class="modal-title" id="chatModalLabel">{% trans "Chat messages" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <!-- Contact Selection -->
          <div class="modal-body">
            <div class="mb-3">
              <label for="contactSelect" class="form-label" style="color: white;">{% trans "Select Contact" %}</label>
              <select class="form-select" id="contactSelect" aria-label="{% trans "Select a contact to chat with" %}">
                <option selected>{% trans "Choose..." %}</option>
              </select>
            </div>

            <!-- Chat Content -->
            <div style="height: 300px; overflow: auto;">
              <div class="d-flex justify-content-between">
                <p style="color: white">Fanny Neguesha</p>
                <p class="small mb-1 text-muted">23 Jan 2:00 pm</p>
              </div>
              <div class="d-flex flex-row justify-content-start">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp" alt="{% trans "avatar 1" %}" style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-3 rounded-3 bg-body-tertiary" style="color: black">{% trans "What's up crackos ?" %}</p>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Footer with message input -->
          <div class="modal-footer">
            <div id="chat-log" class="input-group mb-0">
              <input id="chat-message-input" type="text" class="form-control" placeholder="{% trans "Type message" %}" aria-label="{% trans "Recipient's username" %}" aria-describedby="button-addon2" />
              <button id="chat-message-submit" class="btn btn-dark" type="button" style="padding-top: .55rem;">{% trans "Send" %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Bootstrap JS and Popper.js -->
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    
  <!-- Store the user ID in a hidden input -->
  <input type="hidden" id="userID" value="{{ request.user.id }}">
      
  <!-- Custom JS -->
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/invite_socket.js' %}" ></script>
  <script src="{% static 'js/form_utils.js' %}"></script>
  <script src="{% static 'js/main_room.js' %}"></script>
  <script src="{% static 'js/notifications.js' %}"></script>
  <script src="{% static 'js/chat.js' %}"></script>

  <!-- Play/Game JS -->
  <script src="{% static 'js/play/cows.js' %}"></script>
  <script src="{% static 'js/play/gameRender.js' %}"></script>
  <script src="{% static 'js/play/play.js' %}"></script>
  <script src="{% static 'js/play/playStart.js' %}"></script>
  <script src="{% static 'js/play/tournament.js' %}"></script>
  <script src="{% static 'js/play/tournamentNextRound.js' %}"></script>
  <script src="{% static 'js/play/tournamentStart.js' %}"></script>
  
</body>

</html>