<div id="login" class="page p-4">
  <div
    class="d-flex flex-column justify-content-center align-items-center ms-auto me-auto"
    style="width: 256px;">
    <h1 class="mb-3 align-self-start">Log In</h1>
    <form action="" method="post" class="">
      <div class="mb-3">
        <label for="loginUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="loginUsername" required>
      </div>
      <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword" required>
      </div>
      <button type="submit" class="btn btn-secondary">Log In</button>
    </form>
  </div>
</div>